*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
backend/node_modules/*
frontend/node_modules/*
apidoc
*.log
dist
frontend/dist/*
coverage
.idea
.vagrant
Vagrantfile
